<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#2196f3">
    <title>Proxmox Mail Gateway - Quarantine</title>
    <link rel="stylesheet" href="framework7/css/framework7.bundle.min.css">
    <link rel="stylesheet" href="framework7/css/framework7-icons.css">
    <link rel="stylesheet" href="framework7/css/material-icons.css">
    <link rel="stylesheet" href="pve2/css/ext6-pmg-mobile.css">
    [% IF langfile %]
    <script type='text/javascript' src='/pve2/locale/pmg-lang-[% lang %].js'></script>
    [% ELSE %]
    <script type='text/javascript'> function gettext(buf) { return buf; } </script>
    [%- END %]
    <script type="text/javascript">
      Proxmox = {
        UserName: '[% username %]',
        CSRFPreventionToken: '[% token %]'
      };
    </script>
  </head>
  <body>
    <div id="app">
      <div class="statusbar"></div>
    </div>
    [% IF debug %]
    <script type="text/javascript" src="/framework7/js/framework7.bundle.js"></script>
    [% ELSE %]
    <script type="text/javascript" src="/framework7/js/framework7.bundle.min.js"></script>
    [% END %]
    <script type="text/javascript" src="/pve2/js/pmgmanagerlib-mobile.js"></script>
  </body>
</html>
