Source: pmg-gui
Section: perl
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper-compat (= 13),
               pmg-doc-generator (>= 6.3-2),
               pve-eslint (>= 7.18.0-1),
Standards-Version: 4.3.0
Homepage: https://www.proxmox.com

Package: pmg-gui
Architecture: all
Depends: fonts-font-awesome,
         libjs-extjs (>= 6.0.1),
         libjs-framework7 (>= 4.1.1),
         libjs-qrcodejs (>= 1.20201119),
         pmg-i18n,
         proxmox-widget-toolkit (>= 3.6.0),
Description: Proxmox Mail Gateway web interface
 Graphical user interface for the Proxmox Mail Gateway.
